.query-filters-container {

  
}

.add-btn {
    display: inline-block;
    padding: 5px 15px;
    background: rgb(61, 97, 135);
    border: 1px solid rgb(61, 97, 135);
    font-size: 14px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    width: 100%;
    -webkit-transition: .2s;
    transition: .2s;
    margin-top: 10px;
    
    &:hover {
        background: #004B75;
        border: 1px solid #004B75;
        transition: .2s;
    }
}